a:link {
    color: rgb(0, 9, 128);
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: rgb(3, 225, 18);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
body {
    background-image: url(backgroungimage.png);
}